.customListHover{
    width:'100%';
    cursor:pointer;
    padding: 5px 3px 5px 3px;
    font-size: 11pt;
    transition: 0.25s;
  }
  .customListHover:hover{
    background-color: rgb(164, 206, 248);
    color: #000;
  }
  .selected{
    background-color: dodgerblue;
    color: #fff;
  }